body {
  font-family: verdana, sans-serif;
  /* font-family: "Lucida Console", Monaco, monospace; */
  margin: 30px;
}

li {
  margin-bottom: 4px;
  margin-top:    4px;
  margin-left:   22px;
  margin-right:  22px;
}

.note {
  /* display: none; */
  font-size: .7em;
  color: darkgray;
}

/* style=\"color:#BFBFBF\" */
.grayout {
  opacity: 0.35; /* Real browsers */
  filter: alpha(opacity = 35); /* MSIE */
}

.hidden {
  display: none;
}

.icon {
  color:#BFBFBF;
}

:target {
  /* roman's original: #edff30 */
  /* a little dark: #FFFF00 */
  background-color: #FFFBCC;
}